body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
.theme-color{
    /* bg-blue-600 */
    background: #9333ea; 
}
.bg-theme-color{
    background: #f3f4f6;
}
.amount-edit-btn{
    display: none;
}
td:has(> .amount-group):hover .amount-edit-btn{
    display: block;
}
.profile-img:hover .upload-icon{
    display: block;
}

/* button & input box focus none */
button:focus , input:focus{
    outline-offset: none !important; 
    box-shadow: none !important;
}
.focus\:ring-opacity-50:focus {
    --tw-ring-opacity: 0 !important;    
    border: 1px solid #9333ea !important;

}

/* mark js css */
mark{
    background:#9b58d8;
    color:#f3f4f6;
}
