.theme-color{
    /* bg-blue-600 */
    background: #9333ea; 
}
.bg-theme-color{
    background: #f3f4f6;
}
.amount-edit-btn{
    display: none;
}
td:has(> .amount-group):hover .amount-edit-btn{
    display: block;
}
.profile-img:hover .upload-icon{
    display: block;
}

/* mark js css */
mark{
    background:#9b58d8;
    color:#f3f4f6;
}